---
import { Icon } from "astro-icon/components";
import type { ProductType } from "../content/types";
import AddButtom from "./AddButtom";

const { product } = Astro.props as { product: ProductType };
const jwtCookie = Astro.cookies.get("jwt");
let jwt: string | null = null;
if (jwtCookie) {
  jwt = jwtCookie.value;
}
---

<div class="flex gap-10 my-7">
  <div class="w-2/3">
    <img
      src={`${import.meta.env.PUBLIC_BACKEND_URL}${product.data.attributes.Image.data.attributes.url}`}
      class="rounded-2xl shadow-xl mb-6 object-cover w-full h-[500px] overflow-hidden"
      alt=""
    />
  </div>
  <div class="w-full py-6">
    <h1 class="text-5xl py-4 font-bold">{product.data.attributes.Title}</h1>
    <p class="text-xl text-justify">{product.data.attributes.description}</p>
    <AddButtom product={product.data} jwt={jwt} client:load />
  </div>
</div>
