---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Product from "../../components/Product.astro";
import type { ProductType } from "../../content/types";

const {slug}=Astro.params
let data:ProductType[]|null=null
try {
  const response = await fetch(
    `${import.meta.env.PUBLIC_BACKEND_URL}/api/products/${slug}?populate=Image`
  );
  if(response.ok)
   data = await response.json();
 
} catch (error) {
  console.log('catch');
  return Astro.redirect('/404')
  
}
console.log(data);

if(data==null){
  return Astro.redirect('/')
}

---

<Layout title="Welcome to Astro.">
  <main class="m-10">
    <Header />
    {
      (<Product product={data}/>)
    }
    <p>{Astro.props.title}</p>
  </main>
</Layout>
